<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

</head>

<body>
    <div class="flex items-center justify-between px-10 py-5  ">
        <h1 class="text-2xl font-semibold ">Scatch</h1>
        <% var loggedin=typeof loggedin !=='undefined' ? loggedin : true%>

            <% if (loggedin) { %>
                <div class="flex gap-x-5">
                    <a href="/shop">Shop</a>
                    <a href="/cart">Cart</a>
                    <a href="/account">My Account</a>
                    <a href="/users/logout" class="text-red-500">Logout</a>
                </div>
                <% } %>

    </div>
</body>

</html>